.searchForm {
    background-color:#343a40;
    margin:auto;
    margin-top:5%;
    width:60%;
    padding:10px;
}

.job-listings {
    background-color: #343a40;
    margin-top: 5%;
    width: 60%;
    padding:10px;
    margin: auto;

}

.text-center {
    margin-top: 10px;
}

.job-search-container {
    margin-bottom: 20%;
}