/* adding CSS for top page */
.bg_image {
	background-image: url('./Cave.jpg');
	background-size: cover;
	height: 100vh;
	position: relative;
}
.topmiddle {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 25%;
	margin-right: -50%;
	transform: translateY(-50%);
}
.row {
	color: white;
}
.btn {
	/* color: rgb(61, 61, 61); */
	color: white;
	font-size: larger;
	background-color: rgb(94, 109, 72);
}
a {
	color: white;
	text-decoration: underline;
	text-decoration-color: white;
	text-emphasis: bold;
	font-size: larger;
	font: bold;
}
a:hover {
	background-color: rgb(94, 109, 72);
	color: white;
	padding: 4px 3px;
}
