/* .container {
    float: center;
    width: 100;
    border 3px solid white;
    padding: 10px;
} */
.bg_image{
    background-image: url('./Cave.jpg');
    background-size: cover;
    height: 100vh;
  }
  .row {
      color: white;
  }
  .btn {
      color: black;
      font-weight: bold;
      background-color: green;
  }
  a {
      color: white;
      text-decoration: underline;
      text-decoration-color: white;
      text-emphasis: bold;
      font-size: larger;
      font: bold;
  }
  form {
      opacity: .5;

  }